/* Estilo para centrar el contenido */
body {
    text-align: center;
    padding: 20px;
}

/* Estilo para el contenedor del texto con fondo crema */
.text-container {
    background-color: #fffacd; /* Color crema */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.text-container2 {
    background-color: #f5c47c; /* Color crema */
    padding: 10px 20px; /* Ajusta el padding según tus necesidades, 10px arriba/abajo, 20px izquierda/derecha */
    border-radius: 10px;
}

/* Estilo para el título h1 */
h1 {
    color: blue;
}

/* Estilo para el párrafo */
p {
    color: rgb(0, 0, 0);
}

/* Estilo para la imagen */
img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}